@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron bg-primary">
    <h1 class="text-center">Game Tracker</h1>
    <p class="lead">Game Tracker is a helpful way to keep track of video games stats of games that are being played or already beaten. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Register here to be able to keep track of your own game library.
        </p>
        <button class="btn-primary">@Html.ActionLink("Login", "Login", "Account", new { Style = "color: white; text-decoration:none;" })</button>

    </div>
    <div class="col-md-4">
        <h2>Already Registered?</h2>
        <p>Login here to check out your own game library</p>
        <button class="btn-primary text-dark" >@Html.ActionLink("Register", "Register", "Account", new { Style = "color: white; text-decoration:none;" })</button>

    </div>
    <div class="col-md-4">
        <h2>Trade-In Calculator</h2>
        <p>Curious to see what the price would be for trading in a game? checkout the trade-in calculator here. (trade-in calculator is not an exact calcutalion and only an estimate)</p>
        <button class="btn-primary">@Html.ActionLink("Trade Calc", "TradeInPriceCalc", "Games", new { Style = "color: white; text-decoration:none;" })</button>

    </div>
</div>